body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}

#middle-phrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 2em;
    color: white;
    z-index: 10;
}

#sub-phrase {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: white;
    z-index: 10;
}

.word, .character {
    font-size: 2em;
    transition: transform 5s ease-in-out, opacity 5s ease-in-out;
    display: inline-block;
    opacity: 1;
    position: absolute;
    color: red;
}

.character {
    color: white;
}

#pi-symbol {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px; /* Adjust size as needed */
  z-index: 1000;  /* Ensure it's on top */
}

#pi-symbol a {
  text-decoration: none;
  color: black; /* Change color as needed */
}

